@import "toastr";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.d-flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}